In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
data=pd.read_csv('test.csv')
df=pd.DataFrame(data,columns=['x-axis','y-axis','z-axis','number'])
df[3]=2
df
# plt.plot(np.arange(0,100),df['x-axis'][:100], label='X-axis')
# plt.plot(np.arange (0,100),df['y-axis'][:100], label='Y-axis')
# plt.plot(np.arange (0,100),df['z-axis'][:100], label='Z-axis')
# plt.title(str(i)+"Graph")
# plt.legend()

       x-axis  y-axis  z-axis  number  3
0         NaN     NaN     NaN     NaN  2
1         NaN     NaN     NaN     NaN  2
2         NaN     NaN     NaN     NaN  2
3         NaN     NaN     NaN     NaN  2
4         NaN     NaN     NaN     NaN  2
...       ...     ...     ...     ... ..
12740     NaN     NaN     NaN     NaN  2
12741     NaN     NaN     NaN     NaN  2
12742     NaN     NaN     NaN     NaN  2
12743     NaN     NaN     NaN     NaN  2
12744     NaN     NaN     NaN     NaN  2

[12745 rows x 5 columns]